@{
    ViewData["Title"] = "Cats Inc.";
}
<h2>@ViewData["Title"]</h2>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="~/images/ceiling-cat.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Cats System incorporated© 2017</h5>
        <p class="card-text">We provide the best quality cats for sale and rental.</p>
    </div>
</div>

